// media queries
$tablet: 900px;
$mobile: 600px;
$max-width-screen: 1232px;

@mixin mobile{
   @media screen and (max-width: $mobile) {
       @content;
   }
}
@mixin tablet{
   @media screen and (max-width: $tablet) {
       @content;
   }
}