.products-item{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 18.5%;
   height: auto;
   margin-bottom: 40px;

   @include tablet{
      width: 31%;
   }
   @include mobile{
      width: 48%;
   }

   img{
      width: 100%;
      height: auto;
      margin-bottom: 24px;
      @include mobile{
         margin-bottom: 16px;
      }
   }
   h3{
      font-size: 18px;
      text-align: center;
   }
   a{
      margin-top: 8px;
      @include mobile{
         margin-top: 0;
      }
      button{
         max-width: 100%;
         width: auto;
         font-weight: bold;
         font-size: 14px;
         color: red;
         letter-spacing: 1px;
         padding-top: 16px;
         padding-right: 24px;
         padding-bottom: 14px;
         padding-left: 24px;
         background: #fff;
         border: 1px solid red;
         border-radius: 25px;
         transition: all .25s ease-in-out;
         @include mobile{
            font-size: 13px;
            padding-right: 16px;
            padding-left: 16px;
         }
      }
      button:hover{
         color: #fff;
         background: red;
         transition: all .25s ease-in-out;
      }
   }
}
.products-item-2{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 23%;
   height: auto;
   margin-bottom: 48px;
   box-shadow: 0px 0px 8px 1px rgba(0,0,0,.2);

   @include tablet{
      width: 31%;
   }
   @include mobile{
      align-items: center;
      width: 48%;
   }

   img{
      width: 100%;
      height: auto;
      margin-bottom: 24px;
      cursor: pointer;
      @include mobile{
         margin-bottom: 16px;
      }
   }
   h3{
      font-size: 18px;
      text-align: center;
      margin-bottom: 4px;
      margin-left: 24px;
      @include mobile{
         font-size: 17px;
         margin-left: 0;
      }

      a{
         color: black;
         margin-bottom: 0;
         transition: all .25s ease-in-out;
      }
      a:hover{
         color: red;
         transition: all .25s ease-in-out;
      }
   }
   .stars-img{
      width: auto;
      height: auto;
      margin-bottom: 0;
      margin-left: 24px;
      cursor: default;
      @include mobile{
         margin-bottom: 8px;
         margin-left: 0;
      }
   }
   p{
      align-self: flex-end;
      color: red;
      margin-right: 16px;
      @include mobile{
         align-self: center;
         margin-right: 0;
      }
   }
}